{%extends 'core/base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    {%block title%} Edit Menu Item {%endblock%}
</head>
<body>
    {% block content%}
    <div class="container text-center">
        <form method="POST" class="p-2 form">
            <h1 class="text-center"> Add Recipe </h1>
            {% csrf_token %}
            <!-- {{form}} -->
            <div class="p-2 mb-3 div center">
                {{form.as_p}}
            </div>
            <div class="div text-center">
                <button type="submit" class="btn btn-primary mt-2"> Add </button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>



