{% extends 'core/base.html' %}

{%block title%} Ingredients{%endblock%}

{% block content%}
<h1 class="text-center p-2 d-block">Ingredients</h1>
<div class="div container d-flex flex-row flex-wrap justify-content-center">
    {% for ingredient in ingredients %}
    <a href="{% url 'ingredient_detail' ingredient.id %}" class="menu">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{ ingredient.name}}</h4>
                <h5 class="card-title">Quantity: {{ ingredient.quantity}}</h5>
                <h5 class="card-title">Unit: {{ ingredient.unit}}</h5>
                <h5 class="card-title">${{ ingredient.price_per_unit}}</h5>
                <p class="card-text">Click to view ingredient's details </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="div container justify-content-center text-center p-5">
    <a href="{% url 'add_ingredient' %}"  class="btn btn-primary mt-2">Add An Ingredient</a>
</div>
{%endblock%}