{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    <title>{% block title%}Login{%endblock%}</title>
</head>
<body>
    {% block content%}
    
        <form method="POST">
            
          {% if messages %}
            {% for message in messages %} 
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>      
            {%endfor%}
          {% endif %}
        
            <h1>Login</h1>
            {% csrf_token %}
                <div class="mb-3 ">
                  <label for="name" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {%endblock%}    
</body>
</html>