{% extends 'core/base.html'%}

{% load static %}
<link rel="stylesheet" href="{% static 'core/base.css' %}">

{%block title%}{{ menu.Title}}{%endblock%}

{% block content%}
<div class="div container">
    <div class="menu-info mt-3 p-1">
        <div class="menu-detail">
            <h1 class="text-center">{{ menu.Title}}</h1>
            {% for recipe_requirement in menu.reciperequirement_set.all %}
            <h5  class="text-center">{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }} {{ recipe_requirement.ingredient.name }}</h5>
            {%endfor%}
        </div>
    </div>
</div>
<div class="div text-center">
    <a href="{% url 'edit_menu' menu.id %}" class="btn btn-primary w-25 mt-5">Add recipe</a>
    <a href="{% url 'delete_menu' menu.id %}" class="btn btn-primary w-25 mt-5">Delete</a>
</div>
{%endblock%}